# docker-compose.yml
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: healthmate
      POSTGRES_PASSWORD: securepassword123
      POSTGRES_DB: healthmate_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - DATABASE_URL=postgresql://healthmate:securepassword123@db:5432/healthmate_db?schema=public
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5000
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data: